<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Reference Bootstrap files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"/>

    <title>Zoznam zadaní</title>
</head>

<body>
<div th:insert="~{sidebar :: sidebar}"></div>
<div class="container moveFromMenu">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Meno</th>
            <th scope="col">Priezvisko</th>
            <th scope="col">Email</th>
            <th scope="col">Pozícia</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>

        <th:block th:each="person : ${persons}">
            <tr>
                <td>[[${person.id}]]</td>
                <td>[[${person.firstName}]]</td>
                <td>[[${person.lastName}]]</td>
                <td>[[${person.email}]]</td>
                <td>[[${person.roles}]]</td>
                <td>
                    <a sec:authorize="hasAuthority('Administrátor')" th:href="@{'/persons/edit/' + ${person.id}}">Upraviť</a>
                </td>

            </tr>

        </th:block>

        </tbody>
    </table>


</div>

<script>
    function orderRowClick(row) {
        row.querySelector("a").click();
    }
</script>

</body>
</html>



